.about {
  height: 100vh;
  background: #f0ebe7;
  background: url(../img/menu_bg.jpg) center center no-repeat;
  background-size: cover;
  min-height: 650px; }

.title-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 80px; }

.about-title {
  padding-top: 86px; }

.about__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.about__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto; }

.about__content {
  color: #2f3234;
  text-align: center; }
  .about__content-title {
    font-family: Lifehack, sans-serif, Arial;
    font-size: 24px;
    max-height: 60%; }
  .about__content-text {
    font-family: Ubuntu, sans-serif, Arial;
    font-size: 14px;
    font-weight: 300; }

.about__item {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.about__item:not(:last-child) {
  margin-right: 20px;
  width: 60%; }

.about-content__pic {
  width: 105px;
  height: 105px;
  margin-bottom: 12px;
  display: inline-block;
  text-align: center; }
  .about-content__pic--meat {
    background: url(../icons/meat.svg) no-repeat; }
  .about-content__pic--hand {
    background: url(../icons/hand.svg) no-repeat; }
  .about-content__pic--leaf {
    background: url(../icons/natural.svg) no-repeat; }

.about__content-title {
  margin-bottom: 16px; }
