.about {
	height: 100vh;
    background: #f0ebe7;
	background: url(../img/menu_bg.jpg) center center no-repeat;
	background-size: cover;
	min-height: 650px;
}

.title-block {
	display: flex;
	width: 940px;
	margin: 0 auto;
	justify-content: center;
	margin-bottom: 80px;
}

.about-title {
	padding-top: 86px;
}

.about__list {
	display: flex;
}

.about__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.about__content {
	color: #2f3234;
	text-align: center;
	
	&-title {
		font-family: Lifehack, sans-serif, Arial;
		font-size: 24px;
		max-height: 60%;
	}

	&-text {
		font-family: Ubuntu, sans-serif, Arial;
		font-size: 14px;
		font-weight: 300;
	}
}

.about__item {
	align-items: center;
    display: flex;
    flex-direction: column;
}

.about__item:not(:last-child) {
	margin-right: 20px;
	width: 60%;
}

.about-content__pic {
	width: 105px;
	height: 105px;
	margin-bottom: 12px;
	display: inline-block;
	text-align: center;
	
	&--meat {
		background: url(../icons/meat.svg) no-repeat;
	}

	&--hand {
		background: url(../icons/hand.svg) no-repeat;
	}

	&--leaf {
		background: url(../icons/natural.svg) no-repeat;
	}
}

.about__content-title {
	margin-bottom: 16px;
}