@font-face {
	font-family: 'lifehack';
	src: url('../fonts/lifehack/Lifehack Medium.eot');
	src: local('☺'), url('../fonts/lifehack/Lifehack Medium.woff') format('woff'), url('../fonts/lifehack/Lifehack Medium.ttf') format('truetype'), url('../fonts/lifehack/Lifehack Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gagalin';
	src: url('../fonts/gagalin/Gagalin-Regular.eot');
	src: local('☺'), url('../fonts/gagalin/Gagalin-Regular.woff') format('woff'), url('../fonts/gagalin/Gagalin-Regular.ttf') format('truetype'), url('../fonts/gagalin/Gagalin-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding-left: 0;
}

body {
	font-family: Ubuntu, sans-serif, Arial;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: normal;
}

* {
	box-sizing: border-box;
}

.wrapper {
	height: 100%;
}

.navigation {
	position: fixed;
	right: 0;
}

.navigation__list {
	color: #fff;
}

.navigation__item {
	cursor: pointer;
}

.navigation__item:hover {
	border: 
}