

.header__top-container {
	width: 940px;
	display: flex;
	flex-wrap: nowrap;
	margin: 0 auto;
}

.header__logo {
	margin-top: 9px;
	margin-left: 78px;
}

.header__menu {
	display: flex;
	margin-left: auto;
	margin-top: 14px;
}

.header__menu-list {
	display: flex;
}

.header__menu-item {
	margin-left: 30px;
	color: #fff;
	transition: .3s;
}

.header__menu-item:hover {
	text-decoration: underline;
}

.header__menu-item a {
	text-decoration: none;
	font-family: ubuntu, sans-serif, Arial;
	font-weight: 500;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
}

.header__menu-item:first-child {
	list-style: none;
}

.header__button {
	/*reset button style*/
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	border-spacing: 0;
	color: #26589F;
	font-family: 'PT Sans Narrow',sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.42rem;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	
	/*my styles*/
	background: #e45028;
	font-family: Ubuntu;
	font-weight: 400;
	font-size: 13px;
	color: #fff;
	cursor: pointer;
	text-align: center;
	//width: 97px;
	height: 35px; 
	margin-top: 24px;
	margin-left: 12px;
	border-radius: 5px;
	padding: 7px 15px;
	box-sizing: border-box;
	text-transform: uppercase;
	transition: .5s;
}

.header__button:hover {
	background: #C1401e;
}

.welcome-page {
	height: 100vh;
	min-width: 1100px;
	background-color: #1b1f20;
	background-image: url(../img/main_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.welcome-content {
	width: 940px;
	display: flex;
	flex-wrap: nowrap;
	margin: 0 auto;
}

.main-image {
	margin-right: 55px;
	position: relative;
}

.drops-img {
	position: absolute;
	top: 54px;
	left: -38px;
}

.title__first-line {
	font-family: gagalin, sans-serif, Arial;
	font-size: 72px;
	text-transform: uppercase;
	color: #f9b43b;
	display: block;
	margin-bottom: 38px;
	padding-top: 126px;
}

.title__second-line {
	font-family: lifehack, sans-serif, Arial;
	font-size: 65px;
	color: #fff;
}