//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

// setups
// @import "_misc/mixins";
// @import "_misc/fonts";
@import url(./_misc/base.css);

//blocks
@import url(./header.css);
@import url(./about.css);
@import url(./reviews.css);
@import url(./team.css);

//common
@import url(./navigation.css);