.team {
	background: url(../img/team.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	min-height: 650px;
	background-color:#1b1f20;
	position: relative;
}

.container__team {
	width: 100%;
}

.team__title {
	padding-top: 86px;
}

.container__team {
	display: flex;
	flex-direction: row-reverse;
}

.accordeon__team {
	display: flex;
	justify-content: center;
}

.team__info {
	width: 50%;
	height: 100vh;
	background: rgba(#2f3234, .93);
	position: absolute;
	display: flex;
    flex-direction: column;
}

.team-list {
	line-height: 3.5;

	&__name {
	text-decoration: none;
	font-family: gagalin, sans-serif, Arial;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	padding-bottom: 20px;
	transition: .4s;
	}

	

	&__name:hover {
	color: #f9b43b;
	}

	// &__name--active {
	// color: #f9b43b;
	// }

	&__title {
		font-weight: 500;
	}

	&__name:before {
	display: inline-block;
	content: "";
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0px;
    margin-right: 10px;
	}
}

.team__about {
	display: flex;
	align-items: center;
	overflow: hidden;
	font-family: ubuntu, sans-serif, Arial;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	line-height: 1.5;
    width: 380px;
}

.team__about {
	height: 0;
}

.team-list__item--active {
	.team-list__name {
		color: #f9b43b;

		&:before {
		transform: rotate(180deg);
		}
	}
	.team__about {
		height: 100%;
	}
}

.team-list__pic {
	padding-right: 20px;
}

.team-list__img {
	object-fit: cover;
	height: 90px;
	width: 90px;
	border-radius: 50%;
}