@charset "UTF-8";
@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack/Lifehack Medium.eot");
  src: local("☺"), url("../fonts/lifehack/Lifehack Medium.woff") format("woff"), url("../fonts/lifehack/Lifehack Medium.ttf") format("truetype"), url("../fonts/lifehack/Lifehack Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin/Gagalin-Regular.eot");
  src: local("☺"), url("../fonts/gagalin/Gagalin-Regular.woff") format("woff"), url("../fonts/gagalin/Gagalin-Regular.ttf") format("truetype"), url("../fonts/gagalin/Gagalin-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding-left: 0;
}

body {
  font-size: 16px;
  font-family: ubuntu, sans-serif, Arial;
  position: relative;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 940px;
  // width: 95%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 940px + 20px;
  min-height: 100%;
  overflow: hidden;
}

// tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.section {
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  font-size: 72px;
  @include gagalin();
  color: $yellow;
  margin-bottom: 40px;

  &_color {
    &_black {
      color: $black;
    }

  }

  &_position {
    &_center {
      text-align: center;
    }
  }
}

// .navigation {
//   position: fixed;
//   right: 0; }

// .navigation__list {
//   color: #fff; }

// .navigation__item {
//   cursor: pointer; }
