.header {
	display: flex;
	align-items: center;
	//position: absolute;
}

.header__logo {
	margin-top: rem(9px);
	margin-left: rem(78px);
}

.header__menu {
	display: flex;
	margin-left: auto;

	@include tablets {
		visibility: hidden;
		}
}

.header__menu-list {
	display: flex;
}

.header__menu-item {
	color: #fff;
	transition: .3s;

	&:last-child {
    .header__menu-link:after {
      display: none;
    }
  }
}

.header__menu-item:hover {
	text-decoration: underline;
}

.header__menu-item a {
	text-decoration: none;
	font-family: ubuntu, sans-serif, Arial;
	font-weight: 500;
	font-size: rem(13px);
	color: #fff;
	text-transform: uppercase;
}

.header__menu-link {
	display: flex;
	align-items: center;
	
	&:after {
		content: "";
		display: block;
		width: rem(4px);
		height: rem(4px);
		background: #fff;
		border-radius: 50%;
		margin: 0 rem(16px);
	}
}

.header__button {
	/*reset button style*/
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	border-spacing: 0;
	color: #26589F;
	font-family: 'PT Sans Narrow',sans-serif;
	font-size: rem(16px);
	font-weight: normal;
	line-height: 1.42rem;
	list-style: none outside none;
	margin: rem(-83px);
	padding: 0;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	
	/*my styles*/
	background: #e45028;
	font-family: Ubuntu;
	font-weight: 500;
	font-size: rem(13px);
	color: #fff;
	cursor: pointer;
	text-align: center;
	margin-left: rem(12px);
	border-radius: rem(5px);
	padding: rem(7px) rem(15px);
	box-sizing: border-box;
	text-transform: uppercase;
	transition: .5s;
}

.header__button:hover {
	background: #C1401e;
}

.welcome-page {
	height: 100vh;
	//min-width: rem(1100px);
	background-color: #1b1f20;
	background: url(../img/main_bg.jpg) center center no-repeat;
	background-size: cover;
	min-height: rem(650px);
	position: relative;
}

.container__welcome {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 15%;
}

.welcome-content {
	display: flex;
	align-items: center;

	@include tablets {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

.main-image {
	width: 50%;

	@include phones {
		width: 80%;
	}
}

.main-burger {
	@include tablets {
		width: 400px;
	}

	@include phones {
		width: 100%;
	}
}

.drops-img {
	position: absolute;
	top: rem(54px);
	left: rem(-38px);
}

.title {
	width: 50%;

	@include phones {
		width: 80%;
	}
}

.title__first-line {
	font-family: gagalin, sans-serif, Arial;
	font-size: 72px;
	font-weight: 100;
	text-transform: uppercase;
	color: #f9b43b;
	display: block;
	margin-bottom: 9px;
	padding-top: 126px;

	@include tablets {
		padding-bottom: 0;
		padding-top: 0;
		font-size: rem(66px);
	}

	@include phones {
		white-space: nowrap;
		font-size: rem(60px);	
	}
}

.title__second-line {
	font-family: lifehack, sans-serif, Arial;
	font-size: 65px;
	color: #fff;

	@include tablets {
		font-size: rem(62px);
		line-height: 1;
	}

	@include phones {
		font-size: rem(52px);
		line-height: 1;
	}
}

.next-page {
	// display: flex;
	// justify-content: center;
	position: relative;
	bottom: 12%;
	left: 50%;

	@include phones {
		left: 40%;
	}
}

.next-page__button {
	background: none;
	border: 0;
	outline: transparent;
}

.next-page__arrow {
	fill: #fff;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .4s;

	&:hover {
		fill: #e45028;
	}
}