.team {
	background: url(../img/team.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	min-height: rem(650px);
	background-color:#1b1f20;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	@include tablets {
		background-position: center center;
	}

	@include phones {
		background-position: center center;
	}
}

.team__overlay {
	width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
	background: rgba(#2f3234, .93);
	
	@include tablets {
		width: 100%;
	}
}

.container__team {
	width: 100%;
	height: 100vh;
	//justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: row-reverse;

	@include tablets {
		justify-content: center;	
	}
}

.team__title {
//	padding-top: rem(86px);
}

.accordeon__team {
	display: flex;
	justify-content: center;
}

.team__info {
// 	width: 50%;
// 	height: 100vh;
// 	background: rgba(#2f3234, .93);
// 	position: absolute;
	display: flex;
	flex-direction: column;
	
// 	@include tablets {
// 		width: 100%;
// 	}
}

.team-list {
	line-height: 3.5;

	@include tablets {
		text-align: center;
	}

	&__name {
	text-decoration: none;
	font-family: gagalin, sans-serif, Arial;
	font-size: rem(14px);
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	padding-bottom: rem(20px);
	transition: .4s;
	}

	&__name:hover {
	color: #f9b43b;
	}

	// &__name--active {
	// color: #f9b43b;
	// }

	&__title {
		font-weight: 500;
	}

	&__name:before {
	display: inline-block;
	content: "";
    height: 0;
    width: 0;
    border: rem(9px) solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: rem(0px);
    margin-right: rem(10px);
	}
}

.team__about {
	display: flex;
	align-items: center;
	overflow: hidden;
	font-family: ubuntu, sans-serif, Arial;
	font-size: rem(14px);
	font-weight: 300;
	color: #fff;
	line-height: 1.5;
	width: rem(380px);
	
	@include tablets {
		flex-direction: column;
	}
}

.team__about {
	height: 0;
	overflow: hidden;
	transition: .5s;
}

.team-list__item--active {
	.team-list__name {
		color: #f9b43b;

		&:before {
		transform: rotate(180deg);
		}
	}
	.team__about {
		height: 100%;
	}
}

.team-list__pic {
	padding-right: rem(20px);
}

.team-list__img {
	object-fit: cover;
	height: rem(80px);
	width: rem(80px);
	border-radius: 50%;
}